#root {
	margin: 0 auto;
	padding: 0 2rem;
	width: 100%;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.container {
	padding: 16px;
	margin: 0 auto;
	max-width: 100%;
	overflow-x: auto;
	border-radius: 8px;
}

.filters-container {
	display: flex;
	justify-content: space-evenly; 
	align-items: center; 
	gap: 1rem; 
	margin-bottom: 1.5rem; 
	flex-wrap: wrap; 
}

.text-field{
	flex: 1; 
	padding: 10px 16px;
	border: 10px solid #c0398d; 
	border-radius: 8px;
	font-size: 14px;
	background-color: #fff; 
	color: #333;
	max-width: 400px; 
}
.select-field {
	flex: 1;
	padding: 10px 16px;
	border: 2px solid #c0398d; 
	border-radius: 8px;
	font-size: 14px;
	background-color: #fff; 
	color: #333;
	transition: border-color 0.3s, box-shadow 0.3s; 
	max-width: 400px; 
}

.text-field:focus,
.select-field:focus {
	outline: none; 
	border-color: #c0398d; 
}

.text-field:hover,
.select-field:hover {
	border-color: #c0398d; 
}

.checkbox-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 14px;
	color: #333;
}

.checkbox-label input[type='checkbox'] {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.checkbox-label input[type="checkbox"]:checked {
	background-color: #4caf50; 
	border-color: #4caf50;
	color: white;
  }

table {
	min-width: 100%;
	border-collapse: collapse;
	font-family: 'Arial', sans-serif;
	text-align: left;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	border: 2px solid #333;
}

th {
	background-color: #c0398d;
	color: white;
	padding: 16px 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

td {
	padding: 14px 20px;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 14px;
	word-wrap: break-word;
}

tr:hover {
	background-color: #ffeff9;
	cursor: pointer;
}

.table-row-highlighted {
	background-color: #d4a2c0 !important; 
	font-weight: bold;
}

.user-count {
	margin-top: 16px;
	font-size: 16px;
	color: #333;
	text-align: center;
	font-weight: bold;
  }  

@media (max-width: 768px) {
	th,
	td {
		padding: 12px 10px;
		font-size: 12px;
	}
	.filters-container {
		flex-direction: column;
		gap: 1rem;
	}
}
